/* Estilos básicos de reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1.5em 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5em;
    margin: 0;
    letter-spacing: 2px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em 1em;
    gap: 2em;
}

.product {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s;
}

.product:hover {
    transform: translateY(-5px);
}

.product img {
    width: 100%;
    height: 200px; /* Altura fija para el contenedor */
    object-fit: contain; /* Ajusta la imagen para que quepa dentro del contenedor sin distorsión ni recorte */
    background-color: #f7f7f7; /* Color de fondo para las imágenes, por si hay espacio vacío */
}

.product h2 {
    font-size: 1.5em;
    margin: 0.5em 0;
    color: #333;
}

.product h2 a {
    text-decoration: none;
    color: inherit;
}

.product p {
    font-size: 1em;
    color: #777;
    margin-bottom: 0.5em;
}

.price {
    display: block;
    font-size: 1.2em;
    color: #e91e63;
    margin-bottom: 1em;
    font-weight: bold;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.75em 1.5em;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 1em;
}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
