body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product {
    box-sizing: border-box;
    width: 30%;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    overflow: hidden; /* Para ocultar el desbordamiento de la animación */
}

.product img {
    max-width: 100%;
    height: 150px; /* Ajusta la altura según sea necesario */
    object-fit: cover; /* Para mantener la relación de aspecto */
    border-radius: 5px;
}

.price {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

button {
    display: block;
    margin-top: 15px; /* Ajusta la separación del texto superior */
    margin-left: auto;
    margin-right: auto;
    padding: 8px 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
    transform: scale(1.05); /* Efecto de escala al pasar el ratón por encima */
}

button:active {
    background-color: #333;
    transform: scale(0.95); /* Efecto de pulsación al hacer clic */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
